html,body {margin:0;padding:0;font-family: 'Verdana',sans-serif;font-size:11px;background: #036; color:#fff;}
#logcont {margin: 3px auto; width:318px;}
#logcont img {margin:3px auto;}
#logcont table {margin 0 auto; width:150px;}
